

    <% @article.comments.each do |comment| %>
    <div class="com_body">
      <%= raw comment.body %>
    </div>

  
    <% end %>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#cform').hide();
      $('.initialjs-avatar').initial();
      $('#showmenu').click(function() {
                    $('#cform').slideToggle("fast");
            });
    })
    </script>
