
  
    <% @article.comments.each do |comment| %>
      <a class="author"><%=comment.commenter%></a>

    </div>
    <% end %>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#cform').hide();
      $('.initialjs-avatar').initial();
      $('#showmenu').click(function() {
                    $('#cform').slideToggle("fast");
            });
    })
    </script>
