<div class="haiku">


     <%= pluralize @article.reputation_for(:votes).to_i, "vote" %>
     |<%= link_to "up", vote_article_path(@article, type: "up"), method: "post" %>
     |<%= link_to "down", vote_article_path(@article, type: "down"), method: "post" %>

</div>
