
        <%if current_user.fav_articles.include? @article %>
            <%= link_to ('<div id = "yfav_ico" ></div>').html_safe , favorite_article_path(@article.id,type:'unfavourite'), data: {method: "post", :remote => true}  %>
        <%else%>
              <%= link_to ('<div id = "fav_ico"></div>').html_safe , favorite_article_path(@article.id, type:'favourite'),data: {method: "post", :remote => true}  %>
        <%end%>
            <div class="fav_value">
                <%= @article.fav_users.count %>
            </div>
