
<form action="<%= articles_path %>" data-remote="true" method="get" >
<input type="text" name="tag" id="tag" class="ui-autocomplete-input">
<%= submit_tag "Search", :name => nil%>
</form>
<h1 class="ui center aligned header">Posts</h1>
<div class="ui container">
 <div class="ui relaxed divided items" id ="my-posts">
   <%= render @articles %>



 </div>
</div>
<%#= will_paginate @articles %>
<script type="text/javascript">
   $(document).ready(function(){
     $('input[name=tag]').keyup( function () {
       $.ajax({
               url: "/articles",
               dataType : "script",
               data: { "tag":this.value  },
               xhrFields: {
     withCredentials: true
  }
             })
         });
   })
   </script>
