


<div class="ui container">
  <div class="segments">
    <div id="route_info">
      <div class="route_home">
        <%= link_to 'Home >', root_url%>
      </div>
      <div class="route_title">
        User Profile
      </div>
    </div>


    <div class ="left_segment">
      <div class="head-mail">
      <div class = "ui header">
        <%= current_user.username %>
      </div>
      <div class= "mailid" >
        <%= current_user.email %>
      </div>
    </div>
     <div class="user_posts">
       <div class="posts_count">

          <%= current_user.articles.count %> Posts
       </div>

     </div>
     <div class ="change_sett">
       <div class ="sett">
         Change Settings
       </div>
     </div>


    </div>
    <div class="right_segment">



    </div>


  </div>
</div>
