

.ui.borderless.main.menu{
  background-color: #493172 !important;
  height: 50px;
}
.ui.input{
  margin: 7px;
  width: 280px;
  height: 36px;
  background-color: #493172 !important;

}
.ui-autocomplete-input{
  height: 34px;
  width: 280px;
  background-color: #5a457e !important;
  text-color: #6b588c;
  text-size: 16px;
  border-radius: 4px;
    color: white !important;
}
.ui.text.container{

max-width: 1200px !important;
}

.ui.relaxed.divided.items > .item {
  background-color: white;
}

h2{
  margin-top: 0px;
  margin-left: 20px;
}
.ui.purple.button{
  height: 36px;
  width: 97px;
}

#new_post_button button{
  background-color: #8e44ad;
  border-radius: 4px;
  color: white !important;
  font-size: 16px;
  height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 300px;
}
a.navbar-link{
  color: white;

}
a.navbar-link1{
  color: #999999;
  font-size: 14px;

}
#dropdown{
  color: white;
}

body{
  background-color: #f2f1ef;
}

.ui.relaxed.divided.items{
  width: 1000px;
  margin: 0 auto;
}

input#tag.ui-autocomplete-input{
  color: #6b588c !important;
}

#user_ico{
  width: 40px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px 0px;
  float: left;
}
#edit_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -40px -80px;
  float: left;
}
#edit_ico:hover{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -40px -100px;
  float: left;
}
#comment_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -20px;
  float: left;
}
#comment_ico:hover{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -40px;
  float: left;
}
#fav_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -20px;
  float: left;
}
#yfav_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -60px;
  float: left;
}
#tag_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -40px -16px;
  float: left;
}
#up_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -80px;
  float: left;
}
#down_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -80px;
  float: left;
}
#up_ico:hover{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -100px;
  float: left;
}
#down_ico:hover{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -100px;
  float: left;
}
#aup_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -120px;
  float: left;
}
#adown_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -120px;
  float: left;
}
.userico{
  height: 30px;
  border-radius: 4px;
}
.userico:hover{
  background-color: #000066;
}
#logo_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px 0px;
}

.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
  display: block;
  width: 200px;
  height: 50px;

}
.ui.menu .dropdown.item .menu {
  left: -50px;
  border-style: solid;
  border-color: #493172;
  border-width: 1px;
}
.padding{
  height: 20px;
}
.headings{
  padding-bottom: 40px;
}
a.article_name{
  color: #333333;
  font-size: 16px;
}
a.article_name:hover{
  color: #8e44ad;
}
.item{
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.a_content{
  width:770px;
  padding-left: 20px !important;
  padding-bottom: 20px;
  padding-top: 20px;
}
.ui.tiny.image{
  float: left;
  width: 114px;
  border-style: solid;
  border-color: #f2f1ef;
  border-left-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;

}

.fav_ico{
  width: 20px;
  margin: 32px;
}
.navbar-link1.active{
  color: black;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: yellow;
}

.comment_ico{
  width: 20px;
  margin: 32px;
}

.fav_value{
  float: left;
  margin-left: 10px;
  color: #999;
    font-size: 20px;
}
.ui.left.floated.segment{
  width: 692px;
    height: auto;
    padding: 0px !important;

}
.ui.right.floated.segment{
width: 260px;
height: auto;
}

.segments{
  width: 1024px;
  margin: 0 auto;
  height: auto;
}
.articlename{
   word-wrap: break-word;
   width: 620px;
    float: right;
    margin-right: 315px;
    font-size: 14px;
    padding-bottom: 35px;
}

a.navbar-link2{
  color: #999999;
  font-size: 12px;
  margin-left: 0px !important;
}

.extra{
  margin-top: 30px !important;
  float: left;
  width: auto !important;
}
#extra{
  margin-top: 7px !important;
  padding-bottom: 20px;
}
a.ar{
  color: #333;
}
a{
  color: #999;
}
.segment_content{
  margin: 20px;

  word-wrap: break-word;
}
.segment1_content{
  word-wrap: break-word;
  border-bottom: 1px solid #f2f1ef;
}
.ui.header{
  font-size: 20px !important;
  font-weight: bold !important;
  font-color: #333 !important;
}
.show_ar{
    color: #8e44ad;
}
.ui.items > .item > .image > img {
   display: inline;
    width: 100%;
    /* height: auto; */
    /* border-radius: 0.125rem; */
    /* border: none; */
}
div#comment_ico{
  margin-right: 0px;
}
.comment_fav_edit{
  height: 60px;
  border-top: 1px solid #f2f1ef;
  border-bottom: 1px solid #f2f1ef;
}
.show_fav{
  width: 75px;
  height: 59px;
  float: left;
  border-right: 1px solid #f2f1ef;
}
#fav1{
  height: 20px;
  width: 65px;
  float: left;
  margin: 17px 15px 14px 1px;

}
.fav{
  height: 20px;
  width: 53px;
  float: left;
  margin: 17px 15px 14px 1px;

}
.show_comment{
  float: left;
    width: 75px;
    height: 60px;
}
.com{
  height: 20px;
    width: 90px;
    float: left;
    margin: 18px 15px 14px 31px;
}
.c_value{
  float: left;
    margin-left: 10px;
    color: #999;
    font-size: 20px;

}
.index_fav{
  width: 75px;
  height: 59px;
  float: left;
  margin: 25px 10px 10px 28px;

}
.index_comment{
  float: left;
  width: 75px;
  height: 60px;
  margin: 25px 10px 10px 10px;
}
.show_edit{
  float: right;
  font-size: 16px;
  color: #8e44ad;
  margin: 17px 15px 14px 1px;
}
a.edit_color{
  color: #8e44ad;
}
.article_content{
  word-wrap: break-word;
  padding-top: 30px;
  padding-right: 30px;
}
.article_text{
  padding-bottom: 50px;

}

.ui[class*="right floated"].segment {
  float: left !important;
}

img{
  width: 600px !important;
}
.tags{
  float: left;
  margin-top: 27px;

}
.tag_content{
  float: left;
}
.comments{
  float: left;
  width: 600px;
  border-bottom: 1px solid #f2f1ef;
}











.comment_segment{

  float: left;
  word-wrap: break-word;
}


.comment_body{
  padding-top: 30px;
  float: left;
}
.comment_header{
  color: #999;
  font-size: 14px;
  font-weight: bold;
  float: left;
  padding-right: 410px;
  padding-bottom: 10px;
}
#showmenu{
  font-size: 16px;
  font-weight: bold;
  color: #e67e22;
}
.add_comment{
  font-size: 16px;
  font-weight: bold;
  color: #e67e22;
  float: left;
}
 .time_ago{
   float: right;
 }
 .delete{
   float: right;
 }

.c_body{
  font-size: 14px;
  color: #333;
}

.c_create{
  padding-top: 20px;
padding-bottom: 0px;
float: right;
}
.render_c{
  float: left;

}
.com_body{
  width: 630px;
  float: left;
    border-bottom: 1px solid #f2f1ef;
    padding-top: 15px;
}

.v_d_count{
  float: left;
  margin-left: 10px;
}
.v_up_count{
  float: left;
}
.actions{
  margin-bottom: 32px;
    padding-left: 532px;
    padding-top: 20px;

}
.actions1{

    padding-top: 20px;

}
.a{
  float: left;
  margin-left: 20px;
}

.b{
  float: right;
}
.c{
  float: left;
  border-bottom: 1px solid #f2f1ef;
  padding-bottom: 20px;

}
.c1{
  float: left;
  margin-left: 20px;

}



















  .main.menu .item img.logo {
    margin-right: 1.5em;
  }

  .overlay {
    float: left;
    margin: 0em 3em 1em 0em;
  }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
  }

  .main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .overlay.fixed .menu {
    left: 800px;
  }

  .text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
  }
  .text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
  }

  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  .ui.grid{
    font-color: white;
  }
  .ui-widget-content{
    border: none;
  }


.description{
  width: auto;
  float: left;
  height: 15px;
  padding-left: 10px;
}
.description1{
float: left;
}
.ui.tiny.horizontal.statitic{
  float: right;

}
.ui.horizontal.statistic{
  margin-top: 0px !important;
}
.ui.container{
  height: auto;
  width: auto;
}

.top.aligned.content{
  margin-left: 100px;
}
.twelve.wide.field{
  float: left;
}
.ui.left.labeled.button{
  float: left;
}
.haiku{
  float: left;
}

.ui.dividing.header{
  margin-top: 100px;
}
.ui.segment{
  width: 1000px;
  margin-top: 50px;
  margin: 0 auto;
}

.ui.right.floated.button{
  margin-left: 678px;
}

.meta{
  margin-top: 0px !important;
}

.content{
  margin: 17px;
}

#votes{
  margin-top: 50px;
}
.ui.one.column.center.aligned.grid{
  margin: 0 auto;
  width: 520px;
}
.column.twelve.wide.form-holder{
  margin: 0 auto;
  width: 700px;
}
