#post_lists ul li{
  display: inline;
  padding-right: 40px;
}
#post_lists a{
  color: #999999;
  font-size: 14px;
}
#post_lists ul {

  margin-left: -33px;
}

#post_lists{
  margin-top: 50px;
  margin-bottom: 40px;

}

#post_lists  a:hover{
    border-bottom:3px solid #e67e22;

}

#post_lists .active a{
  padding-bottom: 10px;
  border-bottom:3px solid #e67e22;
}

#post{
  background-color: white;
}

#padding{
  margin-bottom: 20px;
}
