#dropdown_user{
  border-style: solid;
  border-color:#8e44ad;
  width: 204px;
}
#dropdown_user .item{
  height: 45px;
  display: block;

}
.ui.simple.dropdown .menu {
  left: -80px !important;
}
#dropdown_user.menu{
  margin-top: 12px;
}
#dropdown_user.menu .item a{
  display: block;
}

#dropdown_user .item:hover {
    background-color: #FFF0E0;
}
a.navbar-link3{
  color: #333;
}
a.navbar-link3:hover{
  color: #e67e22;
}
a.header{
  color: white;
}
.route_title{
  float: left;
  margin-right: 10px;
}
.containers{
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}
