#side_container .tag_container{
  padding: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-bottom:1px solid #f2f1ef;
}
#side_container .tag_head{
  font-size: 16px;
  font-weight: bold;
  color: #999;
}

#side_container .tag_list{
  padding-top: 20px;
  padding-bottom: 20px;

}

#side_container .tag{
  padding-top: 20px;
  padding-right: 20px;
}

#side_container a.tag {
  color: #e67e22;
  font-size: 14px;
}
#side_container .share_container{
  padding: 20px;

}
#side_container .share_head{
  font-size: 16px;
  font-weight: bold;
  color: #999;
}

#side_container .user_list{
  padding-top: 20px;
  color: #8e44ad;
  font-size: 14px;

}
#side_container .user{
  padding-bottom: 20px;
}

#side_container .invite {
  color: #e67e22;
  font-size: 16px;
  font-weight: bold;
}

#side_container .subpost_container{
  padding: 20px;
  border-bottom:1px solid #f2f1ef;

}
#side_container .subpost_head{
  font-size: 16px;
  font-weight: bold;
  color: #999;
}

#side_container .subpost_list , #side_container .subpost_list a{
  padding-top: 20px;
  color: #8e44ad;
  font-size: 14px;

}
#side_container .subpost{
  padding-bottom: 20px;
}

#side_container .new_subpost a{
  color: #e67e22;
  font-size: 16px;
  font-weight: bold;
}
