.left_segment{
  width: 260px;
  height: auto;
  background-color: #fff;
  float: left;
  border-radius: 4px;
}
#route_info{
  float: left;
  padding-bottom: 31px;
  width: 1001px;
}
.mailid{
  color: #8e44ad;
}
.head-mail{
border-bottom: 1px solid #f2f1ef;
  padding: 20px;

}
.posts_count{
  font-size: 16px;
  color: #BBB8B1;
  font-weight: bold;
}
.user_posts{
  border-bottom: 1px solid #f2f1ef;
    padding: 20px;
}
.sett{
  font-size: 16px;
  color: #e67e22;
  font-weight: bold;
}
.change_sett{
  border-bottom: 1px solid #f2f1ef;
  padding: 20px;
}
