.left_segment{
  width: 260px;
  height: auto;
  background-color: #fff;
  float: left;
  border-radius: 4px;
}
#route_info{
  float: left;
  padding-bottom: 31px;
  width: 1001px;
}
.mailid{
  color: #8e44ad;
}
.head-mail{
border-bottom: 1px solid #f2f1ef;
  padding: 20px;

}
.posts_count{
  font-size: 16px;
  color: #BBB8B1;
  font-weight: bold;
}
.user_posts{
  border-bottom: 1px solid #f2f1ef;
    padding: 20px;
}
.sett{
  font-size: 16px;
  color: #e67e22;
  font-weight: bold;
}
.change_sett{
  border-bottom: 1px solid #f2f1ef;
  padding: 20px;
}
.right_segment{
  width: 700px;
  height: auto;
  background-color: #fff;
  float: left;
  border-radius: 4px;
  margin-left: 30px
}
.user_invite_head{
  padding: 20px;
}
.in_heading{
  font-size: 16px;
  color: #B8B4AB;
  font-weight: bold;
}
.each_invites{
  padding: 20px;
}
.invited_p{
  float: left;
}
#invited_p{
  float: left;
  padding-right: 5px;
  font-size: 16px;
}
#invited_a{
  float: left;
  color: #9D988E;
}
