.digg_pagination
{

  cursor: default;
  float: left;
}
.page a, span, em
  {
    padding: 0.5em 1.0em;
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 4px;
  }
  .disabled{
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current{
    font-style: normal;
    font-weight: bold;

    color: black;
    border: 1px solid #e67e22;
  }
  .page a
  {
    text-decoration: none;
    color: black;
    border: 1px solid #999;
  }
  .page  a:hover{
      color: #000033;
      border-color: #000033;
    }
    .page a:focus{
      color: #000033;
      border-color: #000033;
    }
  .page_info
  {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
  }
    .page b
    {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
    .page{
      float: right;
      padding: 20px;
    }
